<%= render 'shared/header' %>
<div class="container">
  <div class='jumbotron'>
    <div class="row">
      <h3>Assignments</h3>
      <% if logged_in? and current_user.admin? %>
        <div><%= link_to "Create New Assignment", new_assignment_path, class: "btn btn-lg btn-primary" %></div>
      <% end %>
    </div>
    <ul>
    <% @assignments.each do |assignment| %>
      <li>
        <h4><%= link_to("#{assignment.title}", assignment_path(assignment))%></h4>
      </li>
    <% end %>
  </div>
</div>