<%= render 'shared/header' %>
<div class="container">
  <div class='jumbotron'>
    <div class="row">
      <h3>Portfolios</h3>
    </div>
    <% if logged_in? and current_user.admin? %>
      <div><%= link_to "Create New User",new_user_path, class: "btn btn-lg btn-primary" %></div>
    <% end %>
    <% @users.each do |user| %>
      <% if user.user_name != "Admin" and user.user_name != "Guest" %>
        <h5><a href="/portfolios/<%= user.id %>"><%= user.user_name %></a><h5>
      <% end %>
    <% end %>
  </div>
</div>