<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="well">
      <h1>Letters</h1>
    </div>
  </div>
  <div class="row">  
    <p>
      <a class="btn btn-lg btn-primary" href="../../letters/new" role="button">Create New Letter &raquo;
      </a>
    </p>
  </div>
  <% @letters.each do |letter| %>
    <%= render 'letter', letter: letter %>
  <% end %>
</div>