<%= render 'shared/header' %>
<div class="container">
  <% if logged_in? and current_user.user_name != 'Guest' %>
    <div class="row">     
      <p>
        <a class="btn btn-lg btn-primary" href="../../posts/new" role="button">Create New Post &raquo;
        </a>
      </p>
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <%= render 'post', post: post %>
  <% end %>
  <div class="row">
    <div class="my_pagination">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>