html * {
    font-family:palatino;
}

body {
    padding-top: 70pt;
    margin: 0;
    background: image-url('background3.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat:repeat;
    display: compact;
}