html * {
    font-family:palatino;
}

body {
    background-color: blue;
}

.my_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .my_pagination a, .my_pagination span {
    padding: 0.2em 0.3em; }
  .my_pagination .disabled {
    color: #aaaaaa; }
  .my_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .my_pagination a {
    text-decoration: none;
    color: black; }
    .my_pagination a:hover, .my_pagination a:focus {
      text-decoration: underline; }
